@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
body{
    background: rgb(113, 227, 214);
}
header h1 {
    position: absolute;
    left: 57%;
    top: 15%;
    color: white;
}

h2{
    position: absolute;
    left: 56%;
    top: 20%;
    color: white;
    transform: rotate(27deg);
}

img{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 26%;
}

.cabeca {
    border-radius: 36% 64% 12% 88% / 50% 45% 55% 50%;
    position: absolute;
    width: 50%;
    height: 80%;
    left: 30%;
    top: 50%;
    background: white;
}
.cabeca2 {
    border-radius: 78% 61% 5% 80% / 100% 69% 78% 50%;
    position: absolute;
    width: 42%;
    height: 65%;
    left: 38%;
    top: 53%;
    background: white;
    transform: rotate(15deg);
}
.sorriso{
    position: absolute;
    width: 30%;
    height: 10%;
    border-radius: 70%;
    left: 30%;
    right: 20%;
    top: 100%;
    background: transparent;
    box-shadow: 10px 10px 0 0;
    color: rgb(113, 227, 214);
    transform: rotate(15deg);
}

.corpo{
    position: absolute;
    width: 50%;
    height: 60%;
    border-radius: 90%;
    left: 53%;
    top: 53%;
    background: transparent;
    box-shadow: 10px 100px 0 0;
    color: white;
    transform: rotate(-45deg);
}
.corpo2{
    position: absolute;
    width: 30%;
    height: 40%;
    border-radius: 70%;
    left: 94%;
    top: 105%;
    background: transparent;
    box-shadow: 5px 80px 0 0;
    color: white;
    transform: rotate(-10deg);
    transform: scale(-1);
}

.calda{
    position: absolute;
    width: 20%;
    height: 60%;
    border-radius: 80%;
    left: 83%;
    top: 45%;
    background: transparent;
    box-shadow: 20px 90px 0 0;
    color: white;
    transform: rotate(40deg);
}

.linha {
    position: absolute;
    width: 70%;
    height: 60%;
    border-radius: 50%;
    left: 18%;
    top: 45%;
    background: transparent;
    border: 6px solid;
    border-color: var(--pink) transparent transparent transparent;
    transform: rotate(105deg);
}
.linha2 {
    position: absolute;
    width: 16%;
    height: 5%;
    border-radius: 50%;
    left: 58%;
    top: 41%;
    background: transparent;
    border: 6px solid;
    border-color: var(--pink) transparent transparent transparent;
    transform: rotate(-48deg);
}

.olho {
    position: absolute;
    width: 10%;
    height: 5%;
    border-radius: 50%;
    left: 50%;
    top: 85%;
    background: transparent;
    border: 6px solid;
    border-color: rgb(113, 227, 214) transparent transparent transparent;
    transform: rotate(185deg);
}

:root {
  --pink: #efbbcf;
}

.container-nuvem {
    position: relative;
    width: 1000px;
    height: 588px;

}







